.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 75px;
    padding: 20px;
    border-bottom: 3px solid;
    background-color: orange;
}

.logo {
    height: 70px;
}

.headerText {
    margin-left: 15px;
}

#accountText {
    margin-left: auto;
    font-weight: bold;
    margin-right: 5px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    width: 100vw;
    height: calc(100vh - 75px);
}

.generateClassContainer {
    background-color: lightgray;
    width: 25vw;
    border-right: 2px solid black;
}

.classActionContainer {
    width: 275px;
    border-right: 2px solid black;
}

.generateClassForm, .selectClassForm {
    margin: 25px;
    display: flex;
    flex-direction: column;
}

#submitButton {
    margin-top: 15px;
    background-color: grey;
}

.selectClassForm {
    width: 200px;
}

.classData {
    display: flex;
    flex-direction: column;
    margin: 25px;
    font-size: 25px;
}