.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 75px;
    padding: 20px;
    border-bottom: 3px solid;
    background-color: orange;
}

.logo {
    height: 65px;
}

.headerText {
    margin-left: 15px;
}

#accountText {
    margin-left: auto;
    font-weight: bold;
    margin-right: 5px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    width: 100vw;
    height: calc(100vh - 75px);
}

.generateClassContainer {
    background-color: lightgray;
    width: 25vw;
    border-right: 2px solid black;
}

.classActionContainer {
    width: 275px;
    border-right: 2px solid black;
    background-color: lightyellow;
}

.generateClassForm, .selectClassForm, .attendanceForm {
    margin: 25px;
    display: flex;
    flex-direction: column;
}

#submitButton {
    margin-top: 15px;
    background-color: grey;
}

.selectClassForm {
    width: 200px;
}

.classData {
    display: flex;
    flex-direction: column;
    margin: 25px;
    font-size: 25px;
}

.attendanceContainer {
    background-color: lightgray;
    width: 100%;
}

.attendanceFormHeader {
    display: flex;
    justify-content: stretch;
    flex-direction: row;
}

#dateInput {
    width: 200px;
}

.dateInputElement {
    display: flex;
    flex-direction: column;
}

#saveAttendanceButton {
    width: 200px;
    margin-left: auto;
    background-color: grey;
}

.table {
    margin-top: 25px;
    background-color: lightyellow;
    text-align: center;
}

.table .tableHeader{
    border-collapse: collapse;
    border: 2px solid black;
}

.table .tableCell{
    border: 2px solid black;
}